body {
    margin: 8px ;
    width: 100%;
    display: block;
    font-size: 50.5%;
  }
  #Heading {
    background-color: red;
  }
  p.funparagraph {
    background-color: green;
  }
  img {
	width: 100%;
	max-width: 100%;
}
figcaption {
	font-style: italic;
}
 